/* .left-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
} */

/* .left-image {
  max-width: 100%;
  height: auto;
} */

.card {
  border: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2; 
}

.cement-background {
  /* background-color: ;
  padding: 125px;  */
}
.background-image{
  height:100vh;
  width:100%;
  background-image:url('https://img.freepik.com/free-vector/tablet-login-concept-illustration_114360-7893.jpg?t=st=1718818148~exp=1718821748~hmac=fb7ef980129b9dabfd2e0d8abe11de0e742bccd35716df8e8ec6ffedb8516f5e&w=740');
  background-position:cover;
  background-size:center;
  background-repeat:no-repeat;
}