body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#intro {
  position: relative;
  min-height: 140vh; /* Ensure at least full viewport height */
  background-image: url('https://cdn.prod.website-files.com/62d901050b694cd462d2879c/645394afc7212c00669d2d45_blog%2011-02.webp');
  background-size: cover; /* Adjusted to cover the entire container */
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  filter: brightness(1.8); /* Increase brightness */
}

.text-overlay {
  position: relative;
  z-index: 1; /* Ensure text is above background */
}

.text-overlay h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.text-overlay p {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.btn-login {
  font-size: 1.2rem;
  position: absolute;
  top: 5px;
  right: 20px;
}

.btn-signup {
  font-size: 1.2rem;
  position: absolute;
  top: 10px;
  left: 20px;
}

.btn-try-chat {
  font-size: 1.3rem;
  margin-top: 190px;
  left:1020px; /* Adjust as needed */
}

.bg-image img {
  display: none;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
  z-index: 0;
}
